
<launch>
	<param name ="/use_sim_time" value="true"/>

	<!--node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1.95 -2.25 0 0 0 -0.5182 -0.8552 laser2 laser1 10" /-->
	<!--node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1.95685 -2.19474 -0.1 -0.017 -0.0104 -0.521 -0.853 laser2 laser1 10" /-->

	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-2.05 -2.15 0 0.013 0.012 -0.671 0.74 laser2 laser1 10"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find mal_vehicle)/cfg/calib_vis.rviz" output="screen"/>	

</launch>
