
<launch>
	
	<param name ="/use_sim_time" value="true"/>

	<node pkg="mal_vehicle" type="odom_may" name="odom_may"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find mal_vehicle)/cfg/loc_demo.rviz" output="screen"/>	

	<param name="robot_description" textfile="$(find mal_vehicle)/cfg/zhenhua_vehicle.urdf" />
	<param name="use_gui" value="false"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />


	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1.95685 -2.19474 -0.1 -0.017 -0.0104 -0.521 -0.853 laser2 laser1 50" />
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="7.5012 1.4813 0.962 0 0 -0.3625 0.9320 base_footprint laser2 50" />




	<node pkg="mal_vehicle" type="loc_ekf" name="loc_ekf" output="screen" >
		
		<param name="mag_init_int" value="10"/>

	</node>

</launch>
