
<launch>
	
	<node pkg="mal_vehicle" type="map_filter" name="map_filter" output="screen" >

		<param name="filterYamlName" value="$(find mal_vehicle)/cfg/map_filters.yaml"/>
		
		<param name="loadMapName" value="/home/yh/zhenhua_some/2019.06.20/map_cloudcompare.vtk"/>
		<param name="saveMapName" value="/home/yh/zhenhua_some/2019.06.20/map_cloudcompare_octree.vtk"/>
		
		<param name="intTh" value="0"/>
	</node>

</launch>
