
<launch>
	
	<node pkg="mal_vehicle" type="map_transformer" name="map_transformer" output="screen" >
		
		<!--laser to the vehicle center-->
		<param name="x1" value="7.5012"/>
		<param name="y1" value="1.4813"/>
		<param name="z1" value="0.962"/>
		<param name="yaw1" value="-0.7418"/>
		
		<!--first frame of mag message when mapping, from rosbag-->
		<param name="x2" value="50.1408"/>
		<param name="y2" value="11.9797"/>
		<param name="yaw2" value="0.0011"/>
		
		<param name="loadMapName" value="/home/yh/map_zhenhua__.vtk"/>
		<param name="saveMapName" value="/home/yh/zhenhua_some/2019.06.20/map_zhenhua_in_mag_world.vtk"/>

	</node>

</launch>
